
# ignore the vscode settings
.vscode/ 

# ignore all log files
*.log 

# ignoring the iOS related file 
.DS_Store

# ignoring auxiliary files
tmp_routines/

# ignoring the co=pilot files
github/ 

# ignoring the python cache files in all the directories
__pycache__/


